.main {
    background-image: url("./logotipo.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .list-items {
    height: 350px;
    overflow-y: scroll;
  }
  .list-items li:hover {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.082);
  }
  .list-items-table {
    height: 510px !important;
    overflow-y: scroll;
  }
  .main {
    height: 90vh;
  }
  .cursor {
    cursor: pointer;
    text-decoration: underline;
  }
  form[disabled] {
    pointer-events: none;
    opacity: 0.8;
  }
  .puntoventa-container {
    height: 85vh !important;
  }
  .contenedor-scroll-y {
    overflow-y: scroll;
  }
  .card-body-items {
    height: 425px !important;
  }
  .card-body-items table tbody tr:hover {
    cursor: default;
  }
  .modal-captura {
    max-width: 98% !important;
  }
  .modal-domicilio {
    max-width: 70% !important;
  }
  .card-captura {
    height: 575px !important;
  }
  .card-sources {
    height: 570px !important;
  }
  .scroll-x {
    overflow-x: scroll;
    white-space: nowrap;
  }
  .categorias-captura {
    height: 70px;
  }
  .subcategoria-container, .modificadores-container {
   white-space: nowrap;
  }
  .subcategoria-container button, .productos-container button, .modificadores-container button {
    width: 140px;
    height: 64px;
    white-space: normal;
  }
  .input-editar {
    max-width: 150px !important;
  }
  
  /* DISPLAY CONTADORO */
  .input-contador {
    width: 70px !important;
  }
  .txtDscto {
    max-width: 85px !important;
  }
  .txtObs {
    max-width: 250px !important;
  }
  .input-pagar {
    width: 85px !important;
  }
  .table-body-items tr:hover, .table-body-cuenta-items tr:hover {
    cursor: pointer;
    background-color: rgba(16, 51, 168, 0.116);
    color: black;
  }
  .table-body-items tr:last-child {
    background-color: rgba(49, 97, 255, 0.5);
    color: black;
  }
  .select-item {
    background-color: rgba(49, 97, 255, 0.5);
    color: black;
  }